.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 12px;
  align-items: center;
  margin-block-end: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px #ccc;
}


.actions-control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.form {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.update {
  display: block;
  background-color: #e9ecef;
  padding: 0.5rem;
  box-shadow: 0 0 5px #000;
}
.update select,
.update select option {
  /* border-radius: 6px; */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.update button {
  width: 15vw;
}
.done {
  background-color: #2f9e44;
  color: #fff;
  transition: background-color 1s ease;
}
